{% extends "_layout.twig" %}

{% block content %}
    <div class="container">
        <h2>This is the homepage</h2>
        {% for post in posts %}
            {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
        {% endfor %}
    </div>
{% endblock %}
